body,td {
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:13px;
	color:#000;
	font-weight:200;
	margin:0
}
table {
	border-spacing:0
}
pre {
	display:inline;
	margin:0
}
@font-face {
		font-family:FontAwesome;
		src:url(fonts/icons.eot);
		src:url(fonts/icons.eot?#iefix) format("embedded-opentype"),url(fonts/icons.woff) format("woff"),url(fonts/icons.ttf) format("truetype"),url(fonts/icons.svg) format("svg");
		font-weight:normal;
		font-style:normal
}
a {
	color:#000;
	text-decoration:none
}
a:hover {
	color:#444;
	text-decoration:underline
}
.invisible {
	display:none
}
#container {
	padding:30px 100px;
	background:#FAFAFA;
	background-image:-moz-linear-gradient(top,#f5f5f5 0,#FAFAFA 100%);
	background-image:-o-linear-gradient(top,#f5f5f5 0,#FAFAFA 100%);
	background-image:-webkit-linear-gradient(top,#f5f5f5 0,#FAFAFA 100%);
	background-image:linear-gradient(to bottom,#f5f5f5 0,#FAFAFA 100%)
}
#logo {
	float:left;
	color:white;
	font:400 25px/17px Helvetica Neue,Helvetica,Arial,sans-serif;
	text-shadow:0 1px 1px rgba(0,0,0,.33)
}
#logo span {
	font-weight:700
}
#welcome {
	color:#999;
	font-size:12px;
	text-align:center;
	padding:20px 0 0;
	font-weight:700
}
#welcome a,#welcome a:link,#welcome a:visited {
	color:#777
}
#welcome .logout {
	margin:0 5px
}
#welcome .forum {
	margin:0 5px
}
#welcome .username {
	margin:0 5px 0 0
}
#menu ul {
	width:auto;
	margin:0;
	padding:0;
	list-style:none
}
html>body #menu ul {
	display:inline-block
}
#page {
}
#content {
	margin:0
}
#content h2 {
	font-family:Lucida Grande,Trebuchet MS,Verdana,Sans-Serif;
	font-size:170%;
	letter-spacing:-1px;
	font-weight:bold;
	color:#666;
	margin:0 0 5px 0
}
#content h3 {
	border-bottom:1px solid #ccc;
	font-size:16px;
	margin:10px 0 7px 0
}
#content h4 {
	font-size:14px;
	margin:10px 0 -10px 0
}
#page {
	clear:both
}
#left_menu {
	width:100%;
	margin:0
}
#left_menu div.left_menu_box {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:15px;
	border-left:1px solid white;
	box-shadow:-1px 0 #dcdcdc
}
#left_menu div.left_menu_box div.title {
	font-weight:bold;
	font-size:15px;
	font-family:Open Sans;
	padding-bottom:4px;
	padding-left:10px;
	padding-top:4px
}
#left_menu div.left_menu_box ul.menu {
	padding:0;
	margin:0;
	list-style:none
}
#left_menu div.left_menu_box ul li {
	background-size:100% 2px;
	display:inline-block
}
#left_menu div.left_menu_box ul.menu li a {
	display:block;
	padding:10px 0 10px 15px;
	color:#555;
	font-size:13px;
	font-family:Open Sans
}
#left_menu div.left_menu_box ul.menu li a:hover {
	color:#000;
	text-decoration:none
}
#left_menu div.left_menu_box ul.menu li.active a {
	font-weight:bold;
	color:#000
}
#left_menu div.left_menu_box ul.menu li:last-child a {
	padding:10px 0 5px 15px
}
.border_wrapper {
	margin:20px 0;
	padding:0;
	width:100%;
	clear: both;
}
.border_wrapper div.title {
	color:#444;
	font-size:25px;
	background:#fbfcfd;
	border:1px solid #d2d3d4;
	border-bottom:none;
	padding:10px 20px;
	border-radius:5px 5px 0 0
}
.border_wrapper div.title a {
	color:#666;
	text-decoration:none
}
.border_wrapper div.title a:hover {
	color:#222
}
table.general {
	width:100%
}
table.general td {
	border-bottom:1px solid #D2D3D4
}
table.general tr:last-child td:first-child,form[action*="edit_stylesheet"] table.general tr:last-child td:only-child,table.general thead+tbody tr:last-child td:first-child {
	border-radius:0 0 0 5px
}
table.general tr:last-child td:last-child,table.general thead+tbody tr:last-child td:last-child,form[action*="edit_stylesheet"] table.general tr:first-child td:last-child {
	border-radius:0 0 5px 0
}
table.general tr:only-child td:first-child,dd.actions table tr:only-child td:first-child {
	border-radius:5px 0 0 5px
}
table.general tr:only-child td:last-child {
	border-radius:0 5px 5px 0
}
table.general tr:last-child td:only-child {
	border-radius:0 0 5px 5px
}
table.general tr:only-child td:only-child,.form_row dl dd.endtimes table tr:only-child td:only-child,dd table tr:only-child td:only-child {
	border-radius:5px
}
/* dd patch */
.form_row dl dd.endtimes table,.form_row dl dd.endtimes table tr:only-child td:only-child,.form_row dl dd.endtimes, dd {
	width:100%;
	margin:0
}
dd {
    border: 1px dashed #d2d3d4;
}
dd td {
    border: none!important;
}
.form_row dl dd.endtimes table tr:only-child td:only-child, dd {
	border-style:dashed;
	border-left:none;
	border-right:none;
	border-radius:0
}
.form_row dl dd.endtimes, dd {
	margin:5px -20px!important;
	display:block;
	width:auto
}
dd table {
    width:100%;
}
dd td:first-child {
    width: 20%;
    border-right: 1px dashed #d2d3d4!important;
}
/* end dd patch */
.title+table.general tr:only-child td:only-child,form[action*="edit_stylesheet&mode=advanced"] table.general tbody tr:last-child td:only-child {
	border-radius:0 0 5px 5px
}
table.general thead+tbody tr:last-child td:first-child {
	border-radius:0 0 0 5px
}
table.general thead+tbody tr:last-child td:last-child,form[action*="edit_stylesheet"] table.general tr:first-child td:last-child {
	border-radius:0 0 5px 0
}
dd table tr:first-child td:first-child,dd.actions table tr:first-child td:first-child {
	border-radius:5px 0 0 0
}
dd table tr:first-child td:last-child,dd.actions table tr:first-child td:last-child {
	border-radius:0 5px 0 0
}
table.general>tbody>tr:last-child td:only-child {
	border-radius:0 0 5px 5px!important
}
form[action*="edit_stylesheet"] table.general tr:first-child td:first-child {
	border-right:1px solid #d2d3d4
}
form[action*="edit_template"] table.general tr:last-child td .row {
	margin:0;
	border:none;
	width: auto;
	padding: 0;
}
form[action*="action=backup"] table.general tr:not(:first-child) td:first-child {
	border-top:1px solid #d2d3d4;
	border-left:0;
	border-bottom:0;
	vertical-align:top
}
form[action*="action=backup"] table.general tr:not(:first-child) .form_row {
	float:none;
	width:auto;
	margin:0;
	border:none;
	padding:
}
form[action*="action=backup"] table.general tr:last-child td:first-child {
	border-bottom:1px solid #d2d3d4;
	border-radius:0 0 5px 0!important
}
form[action*="action=backup"] table.general tr:first-child td:first-child {
	border-radius:0 0 0 5px;
	text-align:center
}
form[action*="module=style-templates&action=edit_template"] table.general tr:last-child td:last-child .form_row {
	width:100%;
	margin:0;
	border:0;
	padding:10px 0
}
table.general tr:only-child td:first-child,dd.actions table tr:only-child td:first-child {
	border-radius:5px 0 0 5px
}
table.general tr:only-child td:last-child,dd.actions table tr:only-child td:last-child {
	border-radius:0 5px 5px 0
}
table.bottom_cell_border td {
	border-right:0;
	border-left:0
}
table.general td {
	padding:10px 20px;
	background:#FBFCFD;
	box-shadow:inset 0 0 1px #fff;
	line-height:20px;
	border-right:1px dashed #D2D3D4
}
table.general td:first-child,th.first {
	border-left:1px solid #D2D3D4
}
table.general td:last-child,th {
	border-right:1px solid #D2D3D4
}
table.general tr:first-child td,th {
	border-top:1px solid #d2d3d4
}
form[action*="module=user-users&action=edit"] #tab_overview table.general tr:first-child td:first-child {
	border-radius:0 0 0 5px;
	border-right-style:solid;
}
form[action*="module=user-users&action=edit"] #tab_overview table.general tr:not(:first-child) td:first-child {
	border-left:none;
	border-radius:0;
}
table.general th {
	text-align:center;
	color:#444;
	padding:7px;
	font-size:15px;
	font-family:Open Sans;
	font-weight:normal;
	padding-bottom:10px;
	padding-top:10px;
	background:#fbfcfd
}
table.general th a,table.general th {
	color:#444;
	text-decoration:none
}
table.general .alt_row td {
	background:#f5f6f7
}
table.form_container tr:first-child td {
	border-top:1px solid #d2d3d4
}
#footer {
	clear:both;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8AAAAACCAYAAACXHrW5AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8yMS8xMRTK2QYAAAAedEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzUuMasfSOsAAACJSURBVFiF7dDRDQIhEIThwagl0APQ13VlWWoPlKC5W580xsCSoL79XzIvO0CAYGY6X64HSa0cO3Ovm9nz9Xm11pMAAAAAAD8VY1wk3Z3cJrqZPTPnveYlp3UvSSWn3lvN+Qd7S2/+2be6UbZBt0myktPi3BUAAAAA8B9h0IXGmtCI142yc+bPrA9SsV5iEaGw/wAAAABJRU5ErkJggg==) 50% 0 no-repeat;
	background-size:100% 2px;
	padding-top:10px;
	color:#aaa;
	line-height:20px;
	padding-bottom:30px;
	font-weight:400
}
#footer div {
	padding:25px 0 0;
	text-align:center;
	font-size:15px;
	color:#bbb
}
#footer div.footer p:first-child {
	padding-bottom:10px
}
#footer div.footer p:first-child:before {
	font-family:FontAwesome;
	content:"\f007";
	font-size:30px
}
#footer p {
	margin:0;
	padding:0
}
#footer p.generation {
	display:inline-block
}
#footer p.powered {
	display:inline-block;
	float:right
}
.popup_button {
	color:#c0c1c2;
	font-family:Oswald;
	font-size:13px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:3px 10px;
	text-transform:uppercase;
	background:#fbfcfd;
	background:-moz-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:-webkit-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:-o-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:linear-gradient(to bottom,#fbfcfd 0%,#f5f6f7 100%);
	display:inline-block;
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	-webkit-box-shadow:inset 0 -1px 1px #fff;
	-moz-box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2;
	text-shadow:0 1px white;
	vertical-align:middle;
	margin:0 0 0 3px
}
.popup_button:hover {
	cursor:pointer;
	text-decoration:none;
	border-top:1px solid #c7c8c9;
	border-left:1px solid #c0c1c2;
	border-right:1px solid #c0c1c2;
	box-shadow:0 1px 2px rgba(0,0,0,0.08) inset;
	color:#888
}
.popup_button:active {
	background:#f2f3f4
}
.popup_menu {
	color:#C0C1C2;
	font-size:13px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:3px 2px;
	background:#FBFCFD;
	background:-moz-linear-gradient(top,#F5F6F7 0%,#f0f0f0 100%);
	background:-webkit-linear-gradient(top,#F5F6F7 0%,#f0f0f0 100%);
	background:-o-linear-gradient(top,#F5F6F7 0%,#f0f0f0 100%);
	background:linear-gradient(to bottom,#F5F6F7 0%,#f0f0f0 100%);
	display:block;
	border:1px solid #c0c1c2;
	box-shadow:inset 0 1px 2px white,0 0 30px -8px rgba(0,0,0,0.3);
	-webkit-box-shadow:inset 0 1px 2px white,0 0 30px -8px rgba(0,0,0,0.3);
	-moz-box-shadow:inset 0 1px 2px white,0 0 30px -8px rgba(0,0,0,0.3);
	text-shadow:0 1px white;
	white-space:nowrap;
	font-weight:400;
}
.popup_menu:after,.popup_menu:before {
	top:100%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none
}
.popup_menu:after {
	border-color:rgba(245,246,247,0);
	border-top-color:#f0f0f0;
	border-width:8px;
	left:50%;
	margin-left:-8px;
	margin-top:-1px
}
.popup_menu:before {
	border-color:rgba(192,193,194,0);
	border-top-color:#acadad;
	border-width:8px;
	left:50%;
	margin-left:-8px
}
.popup_menu .popup_item {
	margin:1px 0;
	line-height:25px;
	color:#6e6e6e;
	text-shadow:0 1px #fff;
	display:block;
	text-align:left;
	padding:0 5px;
	border:1px solid transparent;
}
.popup_menu .popup_item:hover {
	text-decoration:none;
	background:rgb(201,140,140);
	border-color:rgb(189,131,131);
	color:#f7f7f7;
	text-shadow:0 1px rgba(0,0,0,0.2);
	border-radius:3px;
	cursor:pointer
}
.popup_menu a:before {
	font-family:FontAwesome;
	content:"\c404";
	display:block;
	float:left;
	min-width:18px;
	text-align:center;
	margin-right:5px
}
.popup_menu a[href*="forum-management&fid="]:before {
	content: "\f026";
}
.popup_menu a[href*="action=edit"]:before {
	content: "\f007";
	font-size:11px
}
.popup_menu a[href*="tab_moderators"]:before {
	content: "\f021";
}
.popup_menu a[href*="tab_permissions"]:before {
	content: "\f032";
}
.popup_menu a[href*="action=add"]:before {
	content: "\f005";
}
.popup_menu a[href*="user-banning"]:before {
	content:"\c001";
}
.popup_menu a[href*="action=delete"]:before {
	content: "\a002";
}
.popup_menu a[href*="action=referrers"]:before {
	content:"\c010";
}
.popup_menu a[href*="action=ipaddresses"]:before {
	content:"\c051";
}
.popup_menu a[href*="forum-attachments"]:before {
	content:"\c008";
}
.popup_menu a[href*="action=export"]:before {
	content:"\c052";
}
.popup_menu a[href*="action=set_default"]:before {
	content:"\f00c";
}
.popup_menu a[href*="action=force"]:before {
	content:"\c032";
}
.popup_menu a[href*="tools-adminlog"]:before,.popup_menu a[href*="style-templates&sid"]:before {
	content:"\f06e";
}
.popup_menu a[href*="action=copy"]:before {
	content:"\c054";
}
.transparent,.transparent td {
	background:transparent
}
.inline_message {
	background:#FFF6BF;
	border-top:2px solid #FFD324;
	border-bottom:2px solid #FFD324;
	text-align:center;
	margin:10px auto;
	padding:5px 20px
}
.notice {
	text-align:justify;
	margin-top:15px;
	color:#888;
	border-radius:5px;
	background:#D7D7D7;
	background-image:-webkit-linear-gradient(top,#FBFCFD 0%,#F5F6F7 100%);
	background-image:-moz-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:-o-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:linear-gradient(to bottom,#FBFCFD 0,#F5F6F7 100%);
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2;
	display:block;
	padding:1%;
	line-height:20px
}
.templates_intro {
	background-image:url(images/templates.gif);
	background-repeat:no-repeat;
	padding-left:40px
}
.intro_description p {
	margin:0
}
table.individual_cell_border {
	border-style:collapse
}
table.cell_border_bottom td {
	border:1px solid #cc;
	border-style:collapse;
	border-spacing:1px
}
form {
	border:0;
	margin:0;
	display:inline-block;
	width:100%
}
form div.form_container,fieldset {
	background:#fbfcfd;
	border:1px solid #d2d3d4;
	padding:0;
	margin:10px 0;
	padding:10px
}
fieldset {
	border-radius:5px
}
.row {
	margin:-10px 0;
	width:75%;
	margin-left:25%;
	border-left:1px dashed #D2D3D4;
	padding:10px 0 10px 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.form_row:empty {
	padding:0
}
legend {
	font-weight:200;
	padding:4px 30px;
	font-size:17px;
	color:#888;
	margin:auto;
	border:1px solid #D2D3D4;
	background:#fff;
	border-radius:3px;
	position:relative;
	top:-5px
}
.form_container label {
	font-weight:500;
	color:#888;
	float: left;
	width: 23%;
}
.group_settings_bit label {
	color:#888;
	float:none;
	width:auto;
	font-weight:500
}
dt label {
	float:none!important;
	width:auto!important
}
.form_container .align_center.alt_col label {
	float:none
}
label>label {
	width:100%!important
}
small label {
	width:auto!important;
	float:none!important;
	display:inline!important;
	margin:0!important
}
.form_row>label {
	margin-right:5px;
	float:none;
	width:auto;
	display:inline-block
}
small {
	font-size:11px
;
	color: #888;
}
.form_container .description {
	font-size:11px;
	color:#888;
	font-weight:400;
	padding-top:10px;
}
input.text_input,input[type*="text"] {
	border:1px solid #ddd;
	background:white;
	padding:5px 10px;
	font-size:13px;
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#555;
	text-shadow:0 1px #fff;
	line-height:18px;
	margin:0;
	box-sizing:border-box;
	min-width:45px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align:middle
}
input.text_input:focus,input[type*="text"]:focus {
	outline:none;
	background-color:#fefefe;
	color:#555;
	border-color:#afd6ea;
	-webkit-box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px;
	-moz-box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px;
	box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px
}
textarea {
	border:1px solid #ddd;
	background:white;
	padding:10px;
	width:100%!important;
	font-size:13px;
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#555;
	text-shadow:0 1px #fff;
	line-height:18px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box
}
textarea:focus {
	outline:none;
	background-color:#fefefe;
	color:#555;
	border-color:#afd6ea;
	-webkit-box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px;
	-moz-box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px;
	box-shadow:inset 0 0 4px #bce6fb,#ddf4ff 0 0 3px
}
select {
	-webkit-appearance:none;
	color:#AAA;
	font-family:Oswald;
	font-size:13px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:4px 10px;
	text-transform:uppercase;
	background:#FBFCFD;
	background-image:-webkit-linear-gradient(top,#FBFCFD 0%,#F5F6F7 100%);
	background-image:-moz-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:-o-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:linear-gradient(to bottom,#FBFCFD 0,#F5F6F7 100%);
	display:inline-block;
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2;
	text-shadow:0 1px white;
	margin:0;
	vertical-align:top
}
input.inline_submit {
	font-weight:bold
}
form p.legend {
	margin-bottom:10px
}
form p.legend em {
	color:#C00;
	font-style:normal
}
.form_container label em,fieldset label em {
	font-style:normal;
	color:#C00
}
input.submit_button,a[href*="changeSelection"] {
	color:#aaa;
	font-family:Oswald;
	font-size:13px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:4px 10px;
	text-transform:uppercase;
	background:#FBFCFD;
	background-image:-webkit-linear-gradient(top,#FBFCFD 0%,#F5F6F7 100%);
	background-image:-moz-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:-o-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:linear-gradient(to bottom,#FBFCFD 0,#F5F6F7 100%);
	display:inline-block;
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2;
	text-shadow:0 1px white;
	margin:0;
	vertical-align:top
}
input.submit_button:hover,a[href*="changeSelection"]:hover {
	cursor:pointer;
	text-decoration:none;
	border-top:1px solid #c7c8c9;
	border-left:1px solid #c0c1c2;
	border-right:1px solid #c0c1c2;
	box-shadow:0 1px 2px rgba(0,0,0,0.08) inset
}
input.submit_button:active,a[href*="changeSelection"]:active {
	background:#f2f3f4
}
a[href*="changeSelection"] {
	margin:0 5px
}
a[href*="changeSelection"]+br {
	display:none
}
a[href*="changeSelection"]:last-of-type+br {
	display:inline
}
a[href*="changeSelection"]+br ~ .form_row {
	width:100%;
	margin:0 -20px;
	padding:20px;
	border-left:none;
	border-top:1px dashed #d2d3d4;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	text-align:center
}
form[action*="optimizedb"] td.first {
	text-align:center
}
form[action*="statistics"] ~ fieldset {
	margin:15px 0;
	text-align:center
}
form[action*="module=user"] ~ div fieldset {
	margin:10px 0
}
.form_button_wrapper {
	margin-top:5px;
	text-align:center;
	padding:3px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
.confirm_action {
	margin:10px 0;
	background:#fbfcfd;
	color:#444;
	font-size:20px;
	background:#FBFCFD;
	border:1px solid #D2D3D4;
	padding:10px 20px;
	border-radius:5px;
	line-height:1.4;
	text-align:center
}
.confirm_action p:first-child {
	margin:0 -20px;
	padding:0 20px 10px;
	border-bottom:1px dashed #d2d3d4
}
.confirm_action p:first-child+br {
	display:none
}
.confirm_action .buttons {
	margin:20px 0 15px
}
.confirm_action small {
	font-size:15px
}
label.button_yes {
	margin-right:8px;
	border-radius:50px;
	cursor:pointer;
	background:#f5f5f5;
	border:1px solid #D2D3D4;
	box-shadow:0 0 10px #fff;
	font-size:12px;
	padding: 0;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
}
label.button_no {
	border-radius:50px;
	cursor:pointer;
	background:whitesmoke;
	border:1px solid #D2D3D4;
	font-size:12px;
	padding: 0;
	display: inline-block;
	height: 25px;
	width: 25px;
	line-height: 25px;
}
label.button_yes:hover,label.button_no:hover {
	background:#ededed
}
input.button_yes,input.button_no,input.button_yes:hover,input.button_no:hover {
	background:none;
	border:none;
	margin:0;
	padding:0;
	width:0
}
label:before {
	font-family:FontAwesome
}
label.button_yes:before {
	content: "\a001";}
label.button_no:before {
	content: "\a002";}
.radio_input+label {
	margin-right:8px;
	display:block;
	float:left;
	border-radius:2px;
	padding: 0;
	line-height:1;
	background:#f2f6f9;
	border:1px solid #d0d8db;
	color:#bdcad2;
	font-weight:500;
	cursor:pointer;
	text-align: center;
	padding:6px 8px
}
.radio_input[value*="1"]+label,.radio_input[value*="0"]+label {
	height: 24px;
	width: 30px;
	line-height: 25px;
	padding:0;
}
.radio_input+label+br {
	display:none
}
.radio_input:last-of-type+label {
	display:inline-block;
	float:none
}
.radio_input[value*="0"][class*="radio_no"]+label,.radio_input[value*="0"][class*="radio_off"]+label {
	padding: 0;}
.radio_input[value*="0"][class*="radio_no"]:checked+label,.radio_input[value*="0"][class*="radio_off"]:checked+label {
	background:#ef8585;
	border:1px solid #d26463;
	color:#fff;
	text-shadow:0 1px #c65956
}
.radio_input[value*="1"][class*="radio_yes"]:checked+label,.radio_input[value*="1"][class*="radio_on"]:checked+label {
	background:#7bd2a8;
	border:1px solid #56a47d;
	color:#fff;
	text-shadow:0 1px #48a076
}
.radio_input:checked+label {
	background:#7bcbd1;
	border:1px solid #559fa3;
	color:#fff;
	text-shadow:0 1px #489ba1
}
.radio_input[value*="0"][class*="radio_no"]+label:before,.radio_input[value*="0"][class*="radio_off"]+label:before {
	font-family:FontAwesome;
	content: "\a002";
	font-size: 13px
}
.radio_input[value*="1"][class*="radio_yes"]+label:before,.radio_input[value*="1"][class*="radio_on"]+label:before {
	content: "\a001";
	font-size: 13px
}
.alert {
	margin:10px 0;
	padding:5px 10px;
	border:#FC6 1px solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#ffc url(images/icons/warning.gif) no-repeat;
	color:#C00;
	font-style:normal;
	font-weight:bold;
	padding-left:24px;
	display:block
}
div.error, div.success {
	position:relative;
	text-shadow:white 0 1px 0;
	border-radius:3px;
    background: #FAFBFC;
    border: 1px solid #DCDDDE;
    box-shadow: inset 0 -1px 1px white;
    border-bottom: 1px solid #C0C1C2;
	background:-webkit-linear-gradient(top,#FAFBFC 0%,#FAFBFC 85%,#f6f5f4 100%);
	background:-moz-linear-gradient(top,#FAFBFC 0%,#FAFBFC 85%,#f6f5f4 100%);
	background:-o-linear-gradient(top,#FAFBFC 0%,#FAFBFC 85%,#f6f5f4 100%);
	font-size: 15px;
	color:#999;
	text-shadow:0px -1px #fff;
	margin:0;
	padding: 10px 15px;
	font-weight:400;
}
div.error .icon, div.success .icon {
	width: 25px;
	height: 25px;
	margin-right:15px;
	border-radius:50px;
	padding:6px;
	background: -webkit-linear-gradient(top,#f1f2f3 0%,#eee 100%);
	background:-moz-linear-gradient(top,#f1f2f3 0%,#eee 100%);
	background:-o-linear-gradient(top,#f1f2f3 0%,#eee 100%);
	text-align:center;
	float:left;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 1px #fff;
}
div.error .icon span, div.success .icon span {
	width: 25px;
	height: 25px;
	display:inline-block;
	border-radius:50px;
}
div.error .icon span:before, div.success .icon span:before {
	font-family:FontAwesome;
	font-size: 13px;
	line-height: 25px;
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
div.error .content, div.success .content {
	display: table-cell;
	vertical-align: middle;
	height: 37px;
}
.content p {
	margin:0
}
.success .icon span:before {
	content:"\a001";
}
.success .icon span {
	background:-webkit-linear-gradient(top,rgb(126,177,107) 0%,rgb(126,177,107) 20%,#59844a 100%);
	background:-moz-linear-gradient(top,rgb(126,177,107) 0%,rgb(126,177,107) 20%,#59844a 100%);
	background:-o-linear-gradient(top,rgb(126,177,107) 0%,rgb(126,177,107) 20%,#59844a 100%);
}
.error .icon span:before {
	content: "\a002";
	font-size:20px;
}
.error .icon span {
	background:-webkit-linear-gradient(top,#bf5455 0%,#bf5455 20%,#9b393a 100%);
	background:-moz-linear-gradient(top,#bf5455 0%,#bf5455 20%,#9b393a 100%);
	background:-o-linear-gradient(top,#bf5455 0%,#bf5455 20%,#9b393a 100%);
}
div.error ul,div.success ul {
	margin-top:0;
	font-weight:400
}
div.error > p,div.success > p {
	margin:0;
	font-weight:normal;
	padding:10px
}
div.error p em,div.success p em {
	font-style:normal;
	display:block
}
div.success ul,div.error.ul {
	margin-left:24px
}
.nav_tabs {
	margin:35px 0;
	width:100%
}
.nav_tabs ul {
	list-style:none;
	padding:0;
	margin:0
}
.nav_tabs li {
	display:inline-block
}
.nav_tabs li.right {
	float:right;
	padding-left:5px;
	padding-right:0
}
.nav_tabs li a {
	float:left;
	display:block;
	font-size:18px;
	color:#555;
	margin-right:15px;
	font-family:Open Sans
}
.nav_tabs li a:hover {
	color:#555;
	text-decoration:none
}
.nav_tabs li.active a {
	color:black;
	font-size:20px
}
.nav_tabs .tab_description {
	text-align:justify;
	color:#888;
	display:block;
	padding:0;
	font-size:15px;
	line-height:1.6;
	margin-top:10px
}
* html .nav_tabs .tab_description {
	margin-left:3px
}
.align_center,table.general th.align_center,input.align_center {
	text-align:center
}
.float_right {
	float:right
}
a img {
	border:0
}
option {
	padding-right:10px
}
#left_menu .title {
	display:none
}
ul#tabs,ul#tabs2 {
	display:inline-block;
	margin:0;
	padding:0;
	margin-left:-1px;
}
#left_menu {
	list-style:none;
	padding:0;
}
#tabs-wrapper {
	list-style:none;
	background:#fafbfc;
	border:1px solid #dcddde;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #c0c1c2;
	padding:0;
	border-radius:4px;
}
#left_menu li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	padding:0;
	position:relative;
	width:72px;
	height:55px;
}
#tabs-wrapper li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	padding:0;
	position:relative;
}
#left_menu li a span {
	display:inline-block;
	background:#F75E5E;
	border-radius:100px;
	position:absolute;
	top:1px;
	right:7px;
	text-align:center;
	min-width:12px;
	height:20px;
	font:700 15px/22px Trebuchet MS;
	margin:0;
	padding:0 4px;
	color:white;
	z-index:9999;
	border:3px solid #FAFBFC
}
#left_menu a {
	text-decoration:none;
	color:#666;
	display:block;
	padding:0;
	font-family:Open Sans;
	text-align:center;
	height:100%;
	line-height:54px;
}
#tabs-wrapper a {
	text-decoration:none;
	color:#666;
	display:block;
	padding:15px 20px;
	font-family:Open Sans;
	min-width:30px;
	text-align:center
}
#left_menu li.active a,#tabs-wrapper li.active a {
	margin-top:-1px;
	border-top:1px solid #d2d3d4;
	color:#000;
	border-left:1px solid #DCDDDE;
	border-right:1px solid #DCDDDE;
	background:#FEFEFE;
	background-image:-webkit-linear-gradient(top,#F7F8F9 0%,#FBFCFD 15%,#FEFEFE 100%);
	background-image:-moz-linear-gradient(top,#F7F8F9 0%,#FBFCFD 15%,#FEFEFE 100%);
	background-image:-o-linear-gradient(top,#F7F8F9 0%,#FBFCFD 15%,#FEFEFE 100%);
	background-image:linear-gradient(to bottom,#F7F8F9 0%,#FBFCFD 15%,#FEFEFE 100%);
	box-shadow:0 1px 2px rgba(0,0,0,0.05) inset;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.05) inset;
}
#tabs-wrapper li.active a {
	padding:15px 19px;
}
#tabs-wrapper li:first-child.active a {
	border-radius:4px 0 0 4px;
}
.editor {
	background:#f1f1f1;
	border:1px solid #ccc
}
.editor_control_bar {
	background:#fff;
	border:1px solid #0f5c8e
}
.toolbar_normal {
	background:#f0f0f0;
	border:1px solid #f0f0f0
}
.toolbar_hover {
	background:#c1d2ee;
	border:1px solid #5296f7
}
.toolbar_clicked {
	background:#e1F2fe;
	border:1px solid #5296f7
}
.user_avatar {
	height:80px;
	width:80px;
	background:#fff;
	border:1px solid #ccc;
	float:left;
	clear:left;
	margin-right:5px;
	text-align:center
}
.user_avatar img {
	vertical-align:middle
}
.user_details {
	float:left;
	margin-left:5px;
	line-height:1.6
}
.pagination {
	font-size:11px;
	margin-bottom:10px;
	margin-top:10px;
	float:right
;
}
.pagination .pages {
	font-weight:bold
}
.pagination .pagination_current,.pagination a {
	padding:2px 6px;
	margin-bottom:3px
}
.pagination a {
	background:#fbfcfd;
	border:1px solid #d2d3d4;
	border-radius:3px
}
.pagination .pagination_current {
	font-weight:bold
}
.pagination a:hover {
	background:#ebeced;
	text-decoration:none;
	border:1px solid #c2c3c4
}
.view_fields .enabled,.view_fields .disabled {
	width:200px;
	float:left
}
.view_fields .disabled {
	margin-left:20px
}
.view_fields .fields_title {
	font-weight:bold;
	font-size:120%
}
.view_fields ul,.view_fields li {
	list-style:none;
	padding:0;
	margin:0
}
.view_fields ul {
	overflow:auto;
	overflow-y:auto;
	overflow-x:hidden;
	height:180px;
	margin-top:4px
}
.view_fields li {
	-moz-border-radius:3px;
	-webkit-border-radius:5px;
	padding:4px;
	background:#666;
	color:#fff;
	font-size:11px;
	margin-bottom:2px;
	margin-right:10px
}
.autocomplete {
	background:#fff;
	border:1px solid #000;
	color:black
}
.autocomplete_selected {
	background:#adcee7;
	color:#000
}
input.field50 {
	width:50px
}
input.field150 {
	width:150px
}
input.field_small {
	font-size:13px;
	padding:4px
}
.search_default {
	text-align:center;
	color:#aaa
}
input.image_button {
	margin-left:5px;
	vertical-align:bottom
}
input.search_button {
	color:#c0c1c2;
	font-family:Oswald;
	font-size:13px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:3px 10px;
	text-transform:uppercase;
	background:#fbfcfd;
	background:-moz-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:-webkit-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:-o-linear-gradient(top,#fbfcfd 0%,#f5f6f7 100%);
	background:linear-gradient(to bottom,#fbfcfd 0%,#f5f6f7 100%);
	display:inline-block;
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2;
	text-shadow:0 1px white;
	vertical-align:middle;
	margin:0 0 0 3px
}
input.search_button:hover {
	cursor:pointer
}
.differential {
	background:#FFF;
	margin:10px auto;
	padding:10px;
	overflow:scroll;
	height:400px;
	width:980px;
	border:1px solid #ccc
}
.quick_perm_fields .enabled,.quick_perm_fields .disabled {
	width:50%;
	float:left;
	margin:-10px -21px;
	padding:10px 10px
}
.quick_perm_fields .enabled {
	border-right:1px dashed #d2d3d4
}
.quick_perm_fields .disabled {
	float:right;
	margin-left:0
}
.quick_perm_fields .fields_title {
	font-weight:bold;
	font-size:120%
}
.quick_perm_fields ul,.quick_perm_fields li {
	list-style-type:none;
	padding:0;
	margin:0
}
.quick_perm_fields ul {
	overflow:auto;
	/scrollfixforoperaoverflow-y:auto;
	overflow-x:hidden;
	min-height:60px
}
.quick_perm_fields li {
	margin-top:5px;
	height:20px;
	margin-right:5px;
	padding:0 8px;
	border:1px solid #CCC;
	border-bottom-color:#AAA;
	border-radius:4px;
	background:#FAFAFA;
	background:-moz-linear-gradient(top,#FCFDFE 0%,#F5F6F7 100%);
	background:-webkit-linear-gradient(top,#FCFDFE 0%,#F5F6F7 100%);
	background:-o-linear-gradient(top,#FCFDFE 0%,#F5F6F7 100%);
	background:linear-gradient(top,#FCFDFE 0%,#F5F6F7 100%);
	font-size:12px;
	line-height:20px;
	cursor:pointer;
	display:inline-block
}
#left_menu,#tabs-wrapper {
	margin:0
}
.ModalContent #tabs-wrapper {
	margin:0 -14px 10px;
	border-left:none;
	padding:0 14px
}
iframe {
	width:100%
}
form div.error,form div.success,form .nav_tabs {
	width:100%
}
#stylesheet .border_wrapper .general tr.first td.last.alt_col textarea {
	width:100%!important
}
#additional_options_link {
	padding:10px 0
}
#navigation {
	overflow:hidden;
	margin:20px 0;
	padding:0;
	font-weight:200;
	font-size:12px;
	text-shadow:white 0 1px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#D7D7D7;
	background-image:-webkit-linear-gradient(top,#FBFCFD 0%,#F5F6F7 100%);
	background-image:-moz-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:-o-linear-gradient(top,#FBFCFD 0,#F5F6F7 100%);
	background-image:linear-gradient(to bottom,#FBFCFD 0,#F5F6F7 100%);
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px #fff;
	border-bottom:1px solid #C0C1C2
}
#navigation a {
	line-height:37px;
	height:36px;
	-webkit-transition:none;
	-moz-transition:none
}
#navigation ol {
	margin:0;
	float:left
}
#navigation ol,#navigation li {
	list-style:none;
	padding:0
}
#navigation a:hover {
	color:#000
}
#navigation #breadcrumb li {
	float:left
}
#navigation #breadcrumb li a {
	padding-left:12px;
	margin-left:-15px;
	background:url(images/breadcrumb/secondary_nav.png) no-repeat 0 -1px;
	display:block;
	outline:none;
	text-decoration:none
}
#navigation #breadcrumb li.first a {
	margin-left:0;
	background:none;
	padding-left:0
}
#navigation #breadcrumb li span {
	display:block;
	padding-right:17px;
	padding-left:4px;
	background:url(images/breadcrumb/secondary_nav.png) no-repeat 100% -1px
}
#navigation #breadcrumb li>span {
	padding-left:4px;
	background:none transparent
}
#navigation #breadcrumb li:first-child a span {
	padding-left:12px
}
#navigation #breadcrumb li a:hover {
	background-position:0 -43px
}
#navigation #breadcrumb li a:hover span {
	background-position:100% -43px
}
#navigation #breadcrumb li a:active {
	background-position:0 -86px
}
#navigation #breadcrumb li a:active span {
	background-position:100% -86px
}
#secondary_links {
	overflow:hidden;
	padding-right:3px
}
#secondary_links li {
	float:left;
	margin:0
}
#secondary_links a {
	display:block;
	padding:0 12px
}
#secondary_links img {
	vertical-align:top;
	width:16px;
	height:16px;
	position:relative;
	opacity:.7;
	margin:10px -4px 0
}
#secondary_links a:hover img {
	opacity:1
}
.breadcrumb {
	color:#777;
	font-size:12px
}
.breadcrumb a {
	color:#777
}
.breadcrumb li .nav_sep {
	margin:0 5px 0 0
}
.breadcrumb li:first-child {
	margin-left:0
}
.ipsList_inline>li {
	display:inline-block;
	margin:0 3px
}
.ipsList_inline>li:first-child {
	margin-left:0
}
.ipsList_inline>li:last-child {
	margin-right:0
}
#menusup {
	padding:20px;
	text-align:right;
	background:rgb(184,59,59);
	background-image:-moz-linear-gradient(top,rgba(152,179,217,.15),rgba(0,0,0,.15));
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(152,179,217,.15)),to(rgba(0,0,0,.15)));
	background-image:linear-gradient(top,rgba(152,179,217,.15),rgba(0,0,0,.15));
	-moz-box-shadow:0 -1px 1px rgba(0,0,0,.1) inset;
	-webkit-box-shadow:0 -1px 1px rgba(0,0,0,.1) inset;
	box-shadow:0 -1px 1px rgba(0,0,0,.1) inset;
	border-bottom:4px solid #dedede;
	border-radius:4px 4px 0 0;
}
#menusup ul {
	padding:0;
	margin:0;
	list-style-type:none
}
#menusup ul li {
	margin:0;
	display:inline-block;
	padding:0 8px
}
#menusup ul li:last-child {
	padding:0 0 0 8px;
}
#menusup a {
	color:rgb(212,159,159);
	text-shadow:0 1px 1px rgba(0,0,0,.33);
	font-weight:700;
	font-size:14px
}
#menusup li.active a {
	color:white
}
#menusup a:hover {
	color:white;
	text-decoration:none
}
#menu li a:before {
	font-family:FontAwesome;
	font-size: 22pt;
	position:relative;
	color:rgba(205,205,205,0.8);
	text-shadow:0 1px 1px #fff,0 0 0 #000;
	top:2px;
	content:"\c404"
}
#menu li a:after {
	font-family:FontAwesome;
	line-height:1;
	position:absolute;
	color:white;
	text-shadow:0 0 1px black;
	top:5px;
	right:50%;
	margin-right:-6px
}
#menu li.active a:before {
	color:rgba(197,56,56,0.8)!important;
}
#menu li:hover a:before {
	color:rgba(140,140,140,0.8);
}
#menu li a[href*="dashboard"]:before {
	content: "\f001";
	font-size: 26pt;
}
#menu li a[href*="preferences"]:before {
	content: "\f002";}
#menu li a[href*="check"]:before {
	content: "\f003";}
#menu li a[href*="credits"]:before,#menu li a[href*="tools-php_info"]:before {
	content: "\f004";
	font-size: 26pt;
}
#menu li a[href*="myshoutbox"]:before {
	content:"\f0e6"
}
#menu li a[href*="style-themes"]:before {
	content: "\f007";
	font-size: 18pt;
}
#menu li a[href*="style-templates"]:before {
	content: "\f008";}
#menu li a[href*="config-plugins"]:before {
	content: "\f009";
	font-size: 24pt;
}
#menu li a[href*="module=network"]:before {
	content:"\c014";
}
#menu li a[href*="backup"]:before {
	content: "\f010"
}
#menu li a[href*="config-settings"]:before {
	content: "\f011";}
#menu li a[href*="config-ban"]:before,#menu li a[href*="user-banning"]:before {
	content: "\f012";}
#menu li a[href*="config-profile_fields"]:before {
	content: "\f013";
	font-size: 18pt;
}
#menu li a[href*="config-smilies"]:before {
	content: "\f014";
	font-size: 20pt;
}
#menu li a[href*="config-badwords"]:before {
	content: "\f015";}
#menu li a[href*="config-mycode"]:before {
	content: "\f016";
	font-size: 20pt;
}
#menu li a[href*="config-languages"]:before {
	content: "\f017";
}
#menu li a[href*="config-post_icons"]:before {
	content: "\f018";
	font-size: 24pt;
}
#menu li a[href*="config-help_documents"]:before {
	content: "\f019";}
#menu li a[href*="config-attachment_types"]:before,#menu li a[href*="forum-attachments"]:before {
	content: "\f020";
	font-size: 20pt;
}
#menu li a[href*="config-mod_tools"]:before {
	content: "\f021";
}
#menu li a[href*="config-spiders"]:before {
	content: "\f022";
}
#menu li a[href*="config-calendars"]:before {
	content: "\f023";
	font-size: 18pt;
}
#menu li a[href*="config-warning"]:before {
	content: "\f024";
}
#menu li a[href*="config-thread_prefixes"]:before {
	content: "\f025";}
#menu li a[href*="mysupport"]:before {
	content: "\e001";
}
#menu li a[href*="idlchat"]:before {
	content: "\e002";
	font-size: 20pt;
	line-height: 48px;
}
#menu li a[href*="pagemanager"]:before {
	content:"\c016";
}
#menu li a[href*="config-threadfields"]:before {
	content:"\c017";
}
#menu li a[href*="forum-management"]:before {
	content: "\f026";}
#menu li a[href*="forum-announcements"]:before {
	content: "\f027";
}
#menu li a[href*="forum-moderation_queue"]:before {
	content: "\f028";}
#menu li a[href*="user-users"]:before {
	content: "\f029";}
#menu li a[href*="user-groups"]:before {
	content: "\f030";}
#menu li a[href*="user-titles"]:before {
	content: "\f031";}
#menu li a[href*="user-admin_permissions"]:before {
	content: "\f032";
	font-size: 20pt;
}
#menu li a[href*="user-mass_mail"]:before {
	content: "\f033";}
#menu li a[href*="user-group_promotion"]:before {
	content: "\f034";
	font-size: 20pt;
}
#menu li a[href*="user-customalerts"]:before {
	content: "\e005";}
#menu li a[href*="style-jsnips"]:before {
	content:"\c027"
}
#menu li a[href*="tools-system_health"]:before {
	content: "\f035";}
#menu li a[href*="tools-cache"]:before {
	content: "\f036";
}
#menu li a[href*="tools-tasks"]:before {
	content: "\f037";}
#menu li a[href*="tools-recount_rebuild"]:before {
	content: "\f038";
	font-size: 18pt;
}
#menu li a[href*="tools-optimizedb"]:before {
	content: "\f039";}
#menu li a[href*="tools-file_verification"]:before {
	content: "\f040";}
#menu li a[href*="tools-undodelete"]:before {
	content:"\c044"
}
#menu li a[href*="tools-mybbpublisher"]:before {
	content:"\c046"
}
#menu li a[href*="management&action=add"]:before {
	content: "\f005";
	font-size: 24pt;
}
#menu li a[href*="users&action=search"]:before {
	content: "\f006";}
#menu li a[href*="tools-adminlog"]:before {
	content: "\f032";
	font-size: 20pt;
}
#menu li a[href*="tools-modlog"]:before {
	content: "\f021";
}
#menu li a[href*="tools-maillogs"]:before {
	content: "\f029";}
#menu li a[href*="tools-mailerrors"]:before {
	content: "\f033";}
#menu li a[href*="tools-warninglog"]:before {
	content: "\f024";
}
#menu li a[href*="tools-statistics"]:before {
	content: "\f041";}
#menu li a[href*="tools-adminlog"]:after,#menu li a[href*="tools-modlog"]:after,#menu li a[href*="tools-maillogs"]:after,#menu li a[href*="tools-mailerrors"]:after,#menu li a[href*="tools-warninglog"]:after {
	content: "\e007";}
#left_menu #menu {
	list-style:none;
	background:#FAFBFC;
	border:1px solid #DCDDDE;
	box-shadow:inset 0 -1px 1px white;
	border-bottom:1px solid #C0C1C2;
	padding:0;
	text-align:center;
}
#left_menu #menu {
	margin-top:-1px
}
#left_menu #menu:first-child {
	margin-top:0
}
#left_menu #menu:last-child {
	border-radius:0 0 4px 4px;
}
.tooltip {
	color:#fff;
	margin:0;
	line-height:24px;
	font-size:13px;
	padding:1px 10px;
	border-radius:2px;
	font-weight:700;
	background:rgb(207,35,35);
	background-image:-moz-linear-gradient(top,rgba(152,179,217,.15),rgba(0,0,0,.15));
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(152,179,217,.15)),to(rgba(0,0,0,.15)));
	background-image:linear-gradient(top,rgba(152,179,217,.15),rgba(0,0,0,.15));
	-moz-box-shadow:0 -1px 1px rgba(0,0,0,.1) inset,0 1px 1px rgba(255,255,255,.3) inset;
	-webkit-box-shadow:0 -1px 1px rgba(0,0,0,.1) inset,0 1px 1px rgba(255,255,255,.3) inset;
	box-shadow:0 -1px 1px rgba(0,0,0,.1) inset,0 1px 1px rgba(255,255,255,.3) inset;
	text-shadow:0 1px 1px rgba(0,0,0,.33);
	z-index:9999;
	border:1px solid rgb(121,29,29);
	border-bottom-color:rgb(121,38,38);
}
.tooltip:after,.tooltip:before {
	top:100%;
	border:solid transparent;
	content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
}
.tooltip:after {
	border-color:rgba(36,60,94,0);
	border-top-color:rgb(168,36,36);
	border-width:5px;
	left:50%;
	margin-top:-1px;
	margin-left:-5px;
}
.tooltip:before {
	border-color:rgba(31,51,79,0);
	border-top-color:rgb(38,15,15);
	border-width:5px;
	left:50%;
	margin-left:-5px;
}
input[type="radio"] {
	margin:3px 5px 6px 0
}
.radio_input {
	display:none
}
select option {
	text-transform:capitalize
}
.pjxPopup-wrap {
	position: relative;
	display: inline-block;
}